//Colors
$off-black: #20222b;
$off-white: #a5afd7;
$snapwire-green: #31B89C;
$red: red;

//Spacing
$m-size: 1.6rem;
$l-size: 3.8rem;
$xl-size: 4.6rem;

//Input Size
$input-size: 10.1rem;

//Image Height
$lg-image-height: 150px;
$lg-image-width: 150px;

$md-image-height: 125px;
$md-image-width: 125px;

$sm-image-height: 100px;
$sm-image-width: 100px;

$xs-image-height: 50px;
$xs-image-width: 50px;
